<!---->
<!--  <div class="footer">  -->
<!--    <div class="about_as_footer">  -->
<!--      <div class="about_as_title">  -->
<!--        <p>Sobre nosotros</p>  -->
<!--      </div>  -->
<!--      <div class="about_as_description">  -->
<!--        <p>Somos una empresa creada en el año 2022</p> -->
<!--     </div> -->
<!--   </div>   -->
<!-- </div> -->

<footer class="footer mt-2">
       <div class="container-fluid text-black px-2 col col-md-10 mx-auto mt-auto rounded-top " style="background-color: #D9A679 " >
            <div class="row">
                  <div class="text-left">
		    <h5>Sobre nosotros</h5>
                  </div>
		  <p>¡Somos una empresa creada en 2022 que quiere reunir CoffeeLovers!</p>
                      </div>
                  </div>
           
      </footer>
 

