{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}"/>
</head>
<body>
<div class="row grid-container"> 
  <div id="column1"  class="d-none d-lg-block">
    <img src="{% static 'img/Rectangle2.png' %}">
</div>



    <div class="container" id="column2">
	<div class="grupo-form"> 
	  <h3 class="titulo-form">Registro</h3>
	        {% csrf_token %}
	<div class="texto-form"> 
	  <p>Regístrate en CoffeLovers y accede a importantes beneficios.
Más de 300 cafeterías de especialidad adheridas a nuestro programa.</p>
	</div>

	</div>

        <div class="row form-group my-4">
      {% csrf_token %}
      {% for field in form %}
        <div class="row form-group p-2 form-control-lg" >
          {{ field.label_tag }}
          {{ field }}  
          {% if field.errors %}
          {{ field.errors }}
          {% endif %}
        </div>
      {% endfor %}
  <div class="row mt-5 boton-container">
        <button type="submit"  class="boton-form">Registrarme</button>
        </div>
	  <div class="row mt-3 boton-container">
        <a class='boton-form return' href={% url 'home' %}>Volver</a>
        </div>
      </form>
    </div>
</div>
</body>
</html>
